body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #ff0000;
}

.bg-image{
    height: 100vh;
    width: 100vw;
    background-repeat: no-repeat;
}

.bg-image img{
    width: 100%;
}